@charset "UTF-8";
/* 기본 폰트 설정 */
@font-face {
    font-family: Medium;
    src: url(font/Pretendard-Medium.woff);
}
@font-face {
    font-family: SemiBold;
    src: url(font/Pretendard-SemiBold.woff);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    color: #1E1E1E;
    font-family: Medium;
}
body{
    background-color: #F5F5F5;
}
a{
    text-decoration: none;
    display: block;
}
img{display: block;}
.hidden{display: none;}

/* 완성되지 않은 작품 안 보이도록 */
/* clone, react */
section.none{display: none;}


@media all and (min-width:375px){
    div.wrap{
        width: 80%;
        margin: auto;
    }

    /* -------------mobile - header------------- */
    header{
        width: 100%;
        height: 70px;
        background: #E6E5E1;
        border-bottom: 2px solid #6868AC;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
        display: none;
    }
    /* pc 메뉴 숨기기 */
    header .pc-menu{
        display: none;
    }

    /* mobile 상단 깃허브 바로가기 */
    header .mo-shortcut{
        width: 35px;
        height: 35px;
        position: absolute;
        margin: 15px 0 0 20px;
    }
    header .mo-shortcut a img{
        width: 100%;
        height: 100%;
    }
    
    /* mobile 메뉴 버튼 */
    .menu-btn{
        width: 30px;
        height: 16px;
        position: absolute;
        top: 25px;
        right: 20px;
        cursor: pointer;
        z-index: 10;
    }
    .menu-btn span{
        display: block;
        width: 30px;
        height: 2px;
        background: #6868AC;
    }
    .menu-btn span:nth-child(2){
        margin: 5px 0;
    }
    /* .menu-btn toggle js */
    /* 햄버거 메뉴 */
    /* .toggle1.active{
        transform: translateY(5px) rotate(-47deg);
    }
    .toggle2.active{opacity: 0;}
    .toggle3.active{
        transform: translateY(-9px) rotate(47deg);
    } */

    /* mobile 메뉴 */
    .mo-menu{
        /* display: none; */
        width: 70%;
        height: 100%;
        background: #E6E5E1;
        position: fixed;
        top: 0;
        right: -70%;
        z-index: 9;
        transition: all 0.6s ease-in-out;
    }
    .mo-menu ul{
        width: 60%;
        height: 60%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .mo-menu ul li a{
        text-align: center;
        margin: 50px 0;
        font-size: 1.063em; /*17px*/
    }
    .mo-menu ul li a:hover{
        color: #6868AC;
    }
    /* .right-menu js */
    .mo-menu.show{
        right: 0;
    }
    /* .mo-menu.hide{
        right: -100%;
    } */
    /* .mo-menu a.menuGo0.color{
        color: #6868AC;
    }
    .mo-menu a.menuGo1.color{
        color: #6868AC;
    }
    .mo-menu a.menuGo2.color{
        color: #6868AC;
    }
    .mo-menu a.menuGo3.color{
        color: #6868AC;
    }
    .mo-menu a.menuGo4.color{
        color: #6868AC;
    } */
    .mo-menu a.color{
        color: #6868AC;
    }
    

    /* -------------mobile - section------------- */
    /* mobile section - main-ticket */
    .main{
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .main-ticket{
        width: 90%;
        height: 520px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    /* 메인 티켓 중 이미지 부분 */
    .main-ticket .img-bg{
        width: 100%;
        height: 75%;
        filter: grayscale(100%);
        transition: all 0.4s;
        position: relative;
        box-shadow: 4px 4px 4px #ccc;
    }
    .main-ticket .img-bg img{
        width: 100%;
        height: 100%;
    }
    /* 포트폴리오 텍스트 */
    .main-ticket .img-bg .img-text{
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 3;
        text-align: right;
    }
    .main-ticket .img-bg h3{
        font-size: 1.875em; /*30px*/
        color: #fff;
    }
    .main-ticket .img-bg h4{
        font-size: 3.750em; /*60px*/
        color: #fff;
    }
    /* 메인티켓 호버 시 깃허브 아이콘 보임 */
    .main-ticket .social{
        position: absolute;
        z-index: 3;
        left: 10px;
        top: 10px;
        width: 35px;
        height: 35px;
        display: none;
    }

    /* 메인 티켓 중 하얀 배경 */
    .white{
        width: 100%;
        height: 25%;
        background: #fff;
        cursor: pointer;
        box-shadow: 4px 4px 4px #ccc;

        animation: tearoff 1.5s infinite;
        transform-origin: 0 100%;
    }
    /* 하얀 배경 애니메이션 */
    @keyframes tearoff {
        30%   { right:0; } 
        50%   { transform: rotate(3deg);}
    }
    .white p{
        padding: 5px;
        color: #1E1E1E;
        position: absolute;
        z-index: 2;
        transition: all 0.4s;
    }

    /* 하얀 배경 중 동그라미 */
    .white .circle{
        width: 55px;
        height: 55px;
        background: #6868AC;
        border-radius: 50%;
        position: absolute;
        bottom: 10px;
        right: 10px;
        transition: all 0.4s ease;
    }

    /* 메인티켓 화살표 */
    .white .pc-right{
        display: none;
    }
    .white .mo-right{
        width: 50px;
        height: 50px;
        /* background: #202020; */
        position: absolute;
        bottom: 20px;
        right: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        transition: all 0.4s;
    }
    .white .mo-right span{
        color: #fff;
        font-size: 4.375em; /*70px*/
    }

    /* main-ticket hover */
    .main-ticket:hover{
        overflow: hidden;
    }
    /* 이미지 부분 */
    .main-ticket:hover .img-bg{
        filter: grayscale(50%);
    }
    .main-ticket:hover .social{
        display: block;
        /* transition-delay: 0.4s; */ /*아이콘 추가가게 되면 딜레이로 조절*/
    }
    /* 하얀 배경 부분 */
    .main-ticket:hover .white{
        animation: none;
    }
    .main-ticket:hover .white .mo-right{
        display: block;
    }

    

    /* mobile - section : 메인 티켓 제외 */
    .section{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    /* 주제 */
    .section .text{
        margin-bottom: 20px;
        width: 100%;
    }
    /* 티켓 */
    .section .section-ticket{
        width: 90%;
        height: 550px;
        background: #E6E5E1;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    /* 티켓 그림자 hover js */
    .section .section-ticket.shadow::before{
        content: '';
        position: absolute;
        z-index: -1;
        width: 90%;
        height: 90%;
        right: 4px;
        bottom: 4px;
        box-shadow: 2px 2px 13px #444;
        transform: skew(0.5deg, 0.5deg);
        transition: all 0.3s;
    }
    .section .section-ticket:hover::before{
        box-shadow: none;
    }

    /* 티켓 중 왼쪽, 이미지와 구성 */
    .section .section-ticket .one{
        width: 100%;
        height: 40%;
        padding: 10px;
    }
    .section .section-ticket .one img{
        width: 100%;
        height: 95%;
    }
    .section .section-ticket .one p{
        font-size: 0.813em; /*13px*/
    }

    /* 오른쪽과 왼쪽을 분리해주는 선 */
    .section .section-ticket .line{
        background-color: #1E1E1E;
        width: 100%;
        height: 1px;
    }

    /* 티켓 중 오른쪽, 정보와 페이지 버튼 */
    .section .section-ticket .two{
        width: 100%;
        height: 55%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    /* 텍스트 정보 */
    .section .section-ticket .two .two-text{
        width: 100%;
        height: 80%;
    }
    .section .section-ticket .two .two-text > div{ /* 각 div 높이 지정 */
        height: 25%;
    }
    .section .section-ticket .two .two-text p{
        font-size: 0.875em; /*14px*/
        margin: 2px 0 10px 10px;
    }
    .section .section-ticket .two .two-div{ /* 제작 기간, 기여도 width 100% */
        display: flex;
        width: 100%;
    }
    .section .section-ticket .two .two-div > div{ /* 제작 기간, 기여도 각 width 50% */
        width: 50%;
    }

    /* 깃허브, 사이트 버튼 */
    .section .section-ticket .two .button{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .section .section-ticket .two .button a{
        width: 120px;
        height: 40px;
        background: #CFCCC0;
        text-align: center;
        padding: 7px 0;
        transition: all 0.4s;
        margin: 3px;
    }
    /* 판넬 디자인 1개의 버튼 */
    .section .section-ticket .two .button-one{
        width: 100%;
    }
    .section .section-ticket .two .button-one a{
        width: 100%;
        height: 40px;
        background: #CFCCC0;
        text-align: center;
        padding: 7px 0;
        transition: all 0.4s;
    }

    /* 버튼 hover */
    .section .section-ticket .two .button a:hover,
    .section .section-ticket .two .button-one a:hover{
        background: #bebbae;
        text-decoration: underline;
    }

    /* mobile - About me */
    section.Me .one .img{
        height: 100%;
    }
    section.Me .one .img img{
        padding-top: 10px;
        width: 50%;
        margin: auto;
    }
    
    /* 정보 */
    .about p{
        font-size: 0.875em; /*14px*/
        margin: 2px 0 10px 10px;
    }
    .about ul li{
        font-size: 0.875em; /*14px*/
        margin-left: 10px;
        line-height: 20px;
    }
    .about ul li:last-child{
        margin-bottom: 10px;
    }
    .about > div{ /*올라오지 않도록 width 100%*/
        width: 100%;
    }
    .about ul.skil li{
        width: 35px;
        height: 35px;
        float: left;
        margin-top: 2px;
        margin-bottom: 3px;
    }
    .about ul.skil li img{
        width: 100%;
        height: 100%;
    }

    /* modal */
    .modal,
    .modal2{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.4);
        z-index: 9;
    }
    .modal.show,
    .modal2.show{
        display: block;
    }
    .modal .modal_body,
    .modal2 .modal_body{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 80%;
        height: 90%;
        overflow: hidden;
        overflow-y: auto;
    }
    .modal .modal_body img,
    .modal2 .modal_body img{
        width: 100%;
        border-radius: 10px;
    }

    /* top Btn */
    .top{
        width: 50px;
        height: 50px;
        background: #6868AC;
        border-radius: 50px;
        position: fixed;
        right: 15px;
        bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top span{
        color: #fff;
        font-size: 2.063em; /*33px*/
    }
    .pc-shortcut{ /*pc에서만 보이게 해야 됨*/
        display: none;
    }

} /* Mobile - End */

@media all and (min-width:768px){
    /* body{background: pink;} */

    /* tab - main ticket */
    .main-ticket{
        height: 450px;
        display: flex;
    }
    .main-ticket .img-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
    }
    /* 포트폴리오 텍스트 */
    .img-bg h3{
        font-size: 2.500em; /*40px*/
    }
    .img-bg h4{
        font-size: 4.375em; /*40px*/
    }
    /* 메인티켓 하얀 배경 */
    .main-ticket .white{
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
    .main-ticket .white p{
        writing-mode: vertical-rl;
    }
    /* 모바일 화살표 안 보이게 */
    .white .mo-right{
        display: none;
    }
    .main-ticket:hover .white .mo-right{
        display: none;
    }

    /* 탭과 PC 화살표 보이게 */
    .white .pc-right{
        width: 50px;
        height: 50px;
        /* background: #202020; */
        position: absolute;
        bottom: 22px;
        right: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        transition: all 0.4s;
    }
    .white .pc-right span{
        color: #fff;
        font-size: 4.375em; /*70px*/
    }

    .main-ticket:hover .white .pc-right{
        display: block;
    }

    /* tab - section : 메인 티켓 제외 */
    .section .section-ticket{
        height: 350px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    /* 사진과 구성 */
    .section .section-ticket .one{
        height: 100%;
        width: 55%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    /* 왼쪽 오른쪽 구분해주는 선 */
    .section .section-ticket .line{
        width: 1px;
        height: 100%;
    }
    /* 정보 */
    .section .section-ticket .two{
        width: 45%;
        height: 90%;
        display: flex;
        justify-content: space-around;
    }

    /* tab - About Me */
    .section.Me .one{
        width: 40%;
    }
    .section.Me .two{
        width: 60%;
    }
    section.Me .one .img img{
        width: 100%;
        padding: 50px;
    }
} /* Tab - End */

@media all and (min-width:1200px){
    /* body{background: skyblue;} */

    .wrap{
        width: 1200px;
        margin: auto;
    }

    /* 모바일, 탭 메뉴 안 보이게 */
    header .mo-shortcut,
    header .menu-btn{
        display: none;
    }

    /* PC 메뉴 보이게 */
    header .pc-menu{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: auto;
    }
    header .pc-menu h3{
        margin: 0 40px;
        color: #1E1E1E;
    }
    /* 컬러 js */
    header .pc-menu h3.color{
        color: #6868AC;
    }

    .main,
    .section{
        width: 80%;
        margin: auto;
    }

    /* 깃허브 바로가기 */
    .pc-shortcut{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: fixed;
        right: 15px;
        bottom: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pc-shortcut a img{
        width: 100%;
        height: 100%;
    }
} /* PC - End */